{% extends 'base.html.twig' %}
 

    {% block stylesheets %}
        <script src="{{ asset('theme/js_highcharts/highcharts.js') }}"></script>
        <script src="{{ asset('theme/js_highcharts/series-label.js') }}"></script>
        <script src="{{ asset('theme/js_highcharts/exporting.js') }}"></script>
        <script src="{{ asset('theme/js_highcharts/export-data.js') }}"></script>


    {% endblock %}
{% block contentheader %}
    <section class="content-header">
        <h1 align="center" >
            Liste des utilisateurs  :

        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
            <li class="active">liste des  utilisateurs</li>
        </ol>
    </section>

{% endblock %}
{% block Maincontent %}
    <!-- Small boxes (Stat box) -->
    <section class="invoice">
        <!-- title row -->


        <div class="row">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Liste de utilisateurs  </h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="chart">

                        <div class="col-xs-12 table-responsive">
                            <table id="tablisteusers" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <td align="center">Nom</td>
                                    <td align="center">Email</td>
                                    <td align="center">Role </td>
                                    <td align="center">etat</td>
                                    <td align="center">Action </td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td align="center">{{ user.username}}</td>
                                        <td align="center">{{ user.email}} </td>
                                        <td align="center"> {% for role in user.roles %}
                                                {{ role }} <br>
                                            {% endfor %}</td>
                                        <td align="center">

                                            {% if user.enabled %}
                                                Activer

                                            {% else %}
                                                Désactiver
                                            {% endif %}

                                        </td>
                                        <td align="center">

                                            <a href="{{ path('modifierUtilisateur',{ 'id': user.id }) }}" > <i class="glyphicon glyphicon-edit
"></i> &nbsp; &nbsp;</a>
                                            <a href="{{ path('afficherUtilisateur',{ 'id': user.id }) }}" > <i class="glyphicon glyphicon-eye-open
"></i></a>

                                            &nbsp;{% if is_granted('ROLE_ADMIN') %}

                                            <a href="{{ path('deleteUser', { 'id': user.id }) }}"> <i style="color: red;" class="fa fa-remove" aria-hidden="true"></i></a>
                                            {% endif %}
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>







        <!-- this row will not appear when printing -->
        <div class="row no-print">
            <div class="col-xs-12">


                </button>
            </div>
        </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            $('#tablisteusers').DataTable({
                    "pageLength": 10
                }
            )})

    </script>
{% endblock %}