

{% extends 'base.html.twig' %}
{%  block stylesheets %}

{% endblock %}
     {% block contentheader %}
         <section class="content-header">
             <h1>
                 Gestion documents

             </h1>
             <ol class="breadcrumb">
                 <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                 <li class="active">Gestion documents techniques </li>
             </ol>
         </section>

     {% endblock %}

{% block Maincontent %}
    <section class="invoice">
        <!-- title row -->

        <div class="row" align="center">
            <h2> Ajouter  document technique
            </h2>   </div>
        <div class="row">

            {#  {{ form_start(form) }}
                  {{ form_widget(form) }}   #}
            {{ form_start(form, {'action': path('doctechnique_new'), 'method': 'POST'}) }}
            {{ form_errors(form) }}

            <div class="row">
                <div class="col-md-4">
                    {{ form_label(form.nom) }}
                </div>
                <p></p>
                <div class="col-md-3">
                    {{ form_widget(form.nom) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_label(form.fichier) }}
                </div>
                <p></p>
                <div class="col-md-3">
                    {{ form_widget(form.fichier) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_label(form.idEmploye) }}
                </div>
                <p></p>
                <div class="col-md-3">
                    {{ form_widget(form.idEmploye) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    {{ form_label(form.typeDoc) }}
                </div>
                <p></p>
                <div class="col-md-3">
                    {{ form_widget(form.typeDoc) }}
                </div>
            </div>



            <div class="row" style="visibility:visible;" id="divetat">
                <div class="col-md-4">
                    {{ form_label(form.etat) }}
                </div>
                <p></p>
                <div class="col-md-3">
                    {{ form_widget(form.etat) }}
                </div>
            </div>

            <div class="row" id="datevalidite" style="display:block;">
                <div class="col-md-4">
                    {{ form_label(form.date_validite) }}
                </div>
                <p></p>
                <div class="col-md-3">
                    {{ form_widget(form.date_validite,{'id':'datetime1','attr':{'readonly':true }}) }}

                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_label(form.famille) }}
                </div>
                <p></p>
                <div class="col-md-3">
                    {{ form_widget(form.famille) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    {{ form_label(form.Methode) }}
                </div>
                <p></p>
                <div class="col-md-3">
                    {{ form_widget(form.Methode) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_label(form.idprocede) }}
                </div>
                <p></p>
                <div class="col-md-3">
                    {{ form_widget(form.idprocede) }}
                </div>
            </div>


            <br/>
            <div class="row" align="center">
                <div class="col-lg-4">
                    <a href="{{ path('doc_index') }}" class="btn btn-default">Retour à la liste</a>

                </div>
                <div class="col-lg-8">
                    <input type="submit" value="Enregister" class="btn btn-primary" />
                </div>

            </div>
            {{ form_end(form) }}


        </div>
    </section>
    <div id="echeancesdocs" data-is-test="{{ echeancesdocs.pecheance|json_encode }}" style="visibility: hidden"></div>
  
{% endblock %}
{% block javascripts %}
    <script>

        var idtype="0";

        $('#appbundle_doctechnique_typeDoc').on('change', function() {
// problem get p echeance
            idtype=parseInt(this.value);

            console.log(idtype);
            var echeancesdocs = $('#echeancesdocs').data("isTest");

            if( echeancesdocs[ idtype]=='Non'){
                $('#datevalidite').css('display','none');
            }else{
                $('#datevalidite').css('display','block');
            }

        })
    </script>
    <script type="text/javascript" src="{{ asset('theme/datepicker/bootstrap-datepicker.min.js')}}" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ asset('theme/datepicker/bootstrap-datepicker.fr.min.js')}}" charset="UTF-8"></script>
    <script type="text/javascript">
        $("#datetime1").datepicker({
            language:  'fr',
            format: 'dd-mm-yyyy',
            autoclose: true
        });

    </script>

    <script>
/*
        $(document).on('change','#appbundle_doctechnique_famille,#appbundle_doctechnique_Methode',function (){

            let  $field=$(this);
            let $familleField=$('#appbundle_doctechnique_famille');

            let  $form=$field.closest('form');
            let target='#'+$field.attr('id').replace('Methode','idprocede').replace('famille','Methode');
            //    var target='#appbundle_doctechnique_Methode';
            //  var targetb='#appbundle_doctechnique_idniveaugrade';
            console.log(target);
            let data={};
            data[$familleField.attr('name')]=$familleField.val();
            data[$field.attr('name')]=$field.val();

            $.post($form.attr('action'),data).then(function(data){
                let $input=$(data).find(target);
                $(target).replaceWith($input);
                //  let $inputb=$(data).find(targetb);
                //console.log(input);
                //     $(targetb).replaceWith($inputb);

            })

        });
        */
    </script>



    <script>

        $(document).on('click','#appbundle_doctechnique_famille',function (){
            var elt = document.getElementById('appbundle_doctechnique_famille');


            var idfamille=elt.options[elt.selectedIndex].value;
           /* if (idfamille){
                idfamille=1;
            }
			*/
            console.log(idfamille);
//console.log($('#appbundle_doctechnique_famille').options.text);

            var value ='1';// oSelect.options[oSelect.selectedIndex].value;
            var xhr   = new XMLHttpRequest();

            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && (xhr.status == 200 || xhr.status == 0)) {
                    readData(JSON.parse(this.responseText));
                    //  document.getElementById("loader").style.display = "none";
                } else if (xhr.readyState < 4) {
                    //  document.getElementById("loader").style.display = "inline";
                }
            };

            xhr.open("get", "http://localhost:82/ged-zied/web/app_dev.php/familleinsp/findmethode/"+idfamille, true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send("idfamille=" + idfamille);

        });


        function readData(oData) {
             //  console.log(oData);
            // var nodes   = oData.getElementsByTagName("id");
            var oSelect = document.getElementById("appbundle_doctechnique_Methode");
            var oOption, oInner;

            oSelect.innerHTML = "";
            for (var i=0, c=oData.length; i<c; i++) {
                oOption = document.createElement("option");
                // oInner  = document.createTextNode(nodes[i].getAttribute("name"));
                oOption.value = oData[i]['id'];
                oOption.text = oData[i]['nom'];
                //oOption.appendChild('1');
                oSelect.appendChild(oOption);

            }
        }
    </script>

    <script>

        $(document).on('click','#appbundle_doctechnique_Methode',function (){
            var elt = document.getElementById('appbundle_doctechnique_Methode');


            var idmethode=elt.options[elt.selectedIndex].value;
//console.log($('#appbundle_doctechnique_famille').options.text);

            var value ='1';// oSelect.options[oSelect.selectedIndex].value;
            var xhr   = new XMLHttpRequest();

            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && (xhr.status == 200 || xhr.status == 0)) {
                    readDatab(JSON.parse(this.responseText));
                    //  document.getElementById("loader").style.display = "none";
                } else if (xhr.readyState < 4) {
                    //  document.getElementById("loader").style.display = "inline";
                }
            };

            xhr.open("get", "http://localhost:82/ged-zied/web/app_dev.php/methodedispline/findprocede/"+idmethode, true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send("idmethode=" + idmethode);

        });


        function readDatab(oData) {
            //    console.log(oData);
            // var nodes   = oData.getElementsByTagName("id");
            var oSelect = document.getElementById("appbundle_doctechnique_idprocede");
            var oOption, oInner;

            oSelect.innerHTML = "";
            for (var i=0, c=oData.length; i<c; i++) {
                oOption = document.createElement("option");
                // oInner  = document.createTextNode(nodes[i].getAttribute("name"));
                oOption.value = oData[i]['id'];
                oOption.text = oData[i]['nom'];
                //oOption.appendChild('1');
                oSelect.appendChild(oOption);

            }
        }

    </script>

{% endblock %}