
{% extends 'base.html.twig' %}


     {% block contentheader %}
         <section class="content-header">
             <h1>
                 Gestion Methode

             </h1>
             <ol class="breadcrumb">
                 <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                 <li class="active">Gestion des methodes  </li>
             </ol>
         </section>

     {% endblock %}

{% block Maincontent %}
    <section class="invoice">
        <!-- title row -->

        <div class="row" align="center">
            <h2> afficher Une Methode
            </h2>   </div>
        <div class="row">


    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('methodedispline_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
	</div>
	</section>
{% endblock %}
