{% extends 'base.html.twig' %}
 

     {% block contentheader %}
         <section class="content-header">
             <h1>
                 Gestion documents

             </h1>
             <ol class="breadcrumb">
                 <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                 <li class="active">Liste des documents</li>
             </ol>
         </section>

     {% endblock %}

{% block Maincontent %}
    <section class="invoice">
        <!-- title row -->


        <div class="row">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Liste echeances
                    </h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>

                <div class="box-body">
                    <div class="chart">

                        <div class="col-xs-12 table-responsive">

                            <br/>
                            <table  id="tablisteemployes" class="table table-bordered table-hover">

                                <thead>
                                <tr>
                                    <th>Employé</th>
                                    <th>Date_ajout</th>
                                    <th>Date_validite</th>
                                    <th>Nom</th>
                                    <th>Type</th>
                                    <th>Fichier</th>

                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for doc in docs %}
                                    <tr>
                                        <td>{{ doc.idEmploye.nom ~' '~ doc.idEmploye.prenom  }}</td>
                                        <td><a href="{{ path('doc_show', { 'id': doc.id }) }}">{{ doc.dateajout|date('Y-m-d') }}</a></td>
                                        <td>{% if doc.datevalidite %}{{ doc.datevalidite|date('Y-m-d') }}{% endif %}</td>
                                        <td>{{ doc.nom }}</td>
                                        <td>{{ doc.typeDoc.titre }}</td>

                                        <td>




                                            <a href="{{ asset('uploads/' ~ doc.idEmploye.matricule ~'-'~ doc.idEmploye.nom ~' '~ doc.idEmploye.prenom ~'/' ~ doc.typeDoc.dossier ~ '/'~ doc.fichier) }}" >Telecharger</a>

                                        </td>
                                        <td>

                                            <a href="{{ path('doc_show', { 'id': doc.id }) }}"> <i class="fa fa-eye primary" aria-hidden="true"></i></a>
                                            &nbsp;{% if is_granted('ROLE_ADMIN') %}
                                            <a href="{{ path('doc_edit', { 'id': doc.id }) }}"> <i class="fa fa-edit" aria-hidden="true"></i></a>

                                            <a href="{{ path('doc_delete', { 'id': doc.id }) }}"> <i style="color: red;" class="fa fa-remove" aria-hidden="true"></i></a>
                                            {% endif %}

                                        </td>
                                    </tr>
                                {% endfor %}

                                {% for doc in docstechnique %}
                                    <tr>
                                        <td>{{ doc.idEmploye.nom ~' '~ doc.idEmploye.prenom  }}</td>
                                        <td><a href="{{ path('doc_show', { 'id': doc.id }) }}">{{ doc.dateajout|date('Y-m-d') }}</a></td>
                                        <td>{% if doc.datevalidite %}{{ doc.datevalidite|date('Y-m-d') }}{% endif %}</td>
                                        <td>{{ doc.nom }}</td>
                                        <td>{{ doc.typeDoc.titre }}</td>
                                        <td>

                                            {% if   is_granted('ROLE_UTILISATEUR') %}
                                                Telecharger
                                            {% elseif is_granted('ROLE_RH') %}
                                                Telecharger
                                            {% else %}
                                                <a href="{{ asset('uploads/' ~ doc.idEmploye.matricule ~'-'~ doc.idEmploye.nom ~' '~ doc.idEmploye.prenom ~'/' ~ doc.typeDoc.dossier ~ '/'~ doc.fichier) }}" >Telecharger</a>

                                            {% endif %}
                                        </td>

                                        <td>

                                            <a href="{{ path('doctechnique_show', { 'id': doc.id }) }}"> <i class="fa fa-eye primary" aria-hidden="true"></i></a>
                                            {% if   is_granted('ROLE_RESPFORMATION') %}
                                                <a href="{{ path('doc_edit', { 'id': doc.id }) }}"> <i class="fa fa-edit" aria-hidden="true"></i></a>
                                            {% elseif is_granted('ROLE_UTILISATEUR') %}

                                            {% else %}
                                                <p></p>
                                            {% endif %}
                                            &nbsp;{% if is_granted('ROLE_ADMIN') %}
                                            <a href="{{ path('doc_delete', { 'id': doc.id }) }}"> <i style="color: red;" class="fa fa-remove" aria-hidden="true"></i></a>
                                            {% endif %}

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            $('#tablisteemployes').DataTable({
                    "pageLength": 10
                }
            )})

    </script>

{% endblock %}